html {
    min-height: 100%;
}
body, html {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
body {
    height: 100%;
}
* {
    font-family: 'Open Sans';
    box-sizing: border-box;
}
.mainContainer {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    height: auto;
}
.noEvts {
    pointer-events: none;
}